@tailwind base;
@tailwind components;
@tailwind utilities;

.search-box {
    order: 3;
}

@media (min-width: 900px) {
    .search-box {
        order: 2;
    }
}

/* Hide Scrollbar */
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
